<header class="navbar navbar-fixed-top">
	<div class="container">
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "login", root_path %> </li>
				<li><%= link_to "signup", "signup" %> </li>
				<li><%= link_to "logout", "logout" %> </li>
			</ul>
		</nav>
	</div>
</header>
